page-home {
    ion-card{
        margin: 0 !important;
        width: 100% !important;
    }
    #bannerSlide{
        width: 100% !important;
        height: 100% !important;
    }
    #bannerSlide > img{
        width: 100% !important;
        height: 100% !important;
    }
    .image-background {
        width: 100% !important;
        height: 50% !important;
    }

}
